<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
</head>

<body>
    <center>Create an Account</center>
    <form method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="tel" placeholder="Mobile number" name="mobile_number">
        <input type="password" placeholder="password" name="password">
        <input type="password" placeholder="confirm password" name="confirm_password">
        <input type="submit">
    </form>

</body>